@import '../../styles/global.scss';

.footer-container {
    bottom: 0;
    width: 100%;
    padding: 1em;
    background: url(/assets/images/heathrow-airport-background-image.jpg) center 100% no-repeat;
    padding-bottom: 18em;
}